:root {
  --accent-color: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --white-text: #ffffff;
  --white-back: #e5e5e5;
  --grey-back: #f5f4fa;
  --dark-back: #2f303a;
  --size-heder: 14px;
  --height-heder: 24px;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  text-align: Left;
  letter-spacing: 3%;
}
.logo-sec {
  color: var(--black-text);
}

.site-nav {
  font-weight: 500;
  font-size: var(--size-heder);
  line-height: var(--height-heder);
}

.mail {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
}

.phone {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
}

.current {
  color: var(--accent-color);
}

.link {
  color: inherit;
}

.hero {
  background-color: var(--dark-back);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  color: var(--white-text);
  letter-spacing: 6%;
}

.unvisible {
  visibility: hidden;
}

.order {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

.description {
  font-weight: 400;
  color: var(--grey-text);
  line-height: 1.46;
  letter-spacing: 3%;
}

.advantages {
  font-weight: 700;
  letter-spacing: 3%;
}

.section-name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}

.team {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--grey-back);
  line-height: 1;
}

.profession {
  color: var(--grey-text);
  font-weight: 400;
}

.footer {
  background-color: var(--dark-back);
}

.adress {
  line-height: 1.46;
  font-weight: 700;
  color: var(--white-text);
  font-style: inherit;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.46;
}

.logo-sec-footer {
  color: var(--white-text);
}

.portfolio-name {
  font-size: 18px;
  line-height: 1.71;
  font-weight: 700;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--grey-text);
}

.filter {
  font-weight: 500;
  line-height: 1.39;
  font-size: 16px;
  color: var(--black-text);
  background-color: var(--grey-back);
  font-family: "roboto";
}

/* псевдоклассы состояния: */

.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}
.filter:hover,
.filter:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  cursor: pointer;
}

.order:hover,
.order:focus {
  cursor: pointer;
}
